.innerDiv {
  margin-top: 5.7rem;
  max-width: 75%;
  margin-bottom: 5rem;
}
.innerDiv > h2 {
  font-weight: 600;
  font-size: 22px;
}
.innerDiv > p {
  margin-top: 0px;
  font-size: 13px;
}
.formInput {
  margin: 2rem 0 4rem;
}
.btnDIv {
  display: flex;
  gap: 2rem 4%;
}
.btnDIv > button {
  flex: 0 0 48%;
  height: 50px;
  font-weight: 700;
  font-size: 14px;
}
.backBtn {
  background-color: white !important;
  color: black !important;
  box-shadow: none !important;
}
.backBtn:hover {
  background-color: rgb(224, 220, 220) !important;
}
@media screen and (max-width: 712px) {
  .innerDiv {
    max-width: 90%;
  }
  .backBtn {
    flex: 0 0 28% !important;
  }
  .submitBtn {
    flex: 0 0 68% !important;
  }
}
@media screen and (max-width: 400px) {
  .btnDIv > button {
    font-size: 12px;
  }
}
