.innerDiv {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.innerDiv h2 {
  font-weight: 700;
  font-size: 22px;
}
.innerDiv h3 {
  font-weight: 500;
  font-size: 14px;
}
.formInput {
  margin-bottom: 1.5rem !important;
}
.inputsDiv {
  margin: 2rem 0;
}
.submitDiv {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.forgotPassBtn {
  color: #1565c0;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.forgotPassBtn:hover {
  color: #1b7dee;
}
.submitBtn {
  width: 50%;
  margin: 2rem 0 !important;
  height: 50px;
  font-weight: 700 !important;
  font-size: 16px !important;
}
.signupLink {
  text-align: center;
}
.signupLink > button {
  color: #1565c0;
  font-weight: 500;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
}
.signupLink > button:hover {
  color: #1b7dee;
}
