.container {
  margin-left: 65px;
}
.mainDiv {
  background-color: #eaedf0;
  padding: 6rem;
}
.formDiv {
  margin: 2rem 0;
}
.formDiv > form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.formInput {
  width: 50%;
}
.fullWidth {
  width: 100%;
}
.imageInput {
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
  /* flex: 0 0 60%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  /* padding: 2rem 0; */
  cursor: pointer;
}
.imageInput > img {
  object-fit: contain;
}
.imageInput > p {
  margin: 0;
  color: blue;
}
.imageInput > svg {
  font-size: 3rem;
}
.error {
  color: #db2f2f !important;
}
.btnDiv > button {
  margin: 0 1rem 1rem 0;
}
.submitDiv {
  background-image: var(--primaryGradientColor) !important;
}
.cencelDiv {
  color: #0f2d25 !important;
  border-color: #0f2d25 !important;
}
.cencelDiv:hover {
  border-color: #0f2d25 !important;
}

@media screen and (max-width: 600px) {
  .container {
    margin-left: 48px;
  }
  .mainDiv {
    padding: 1rem;
  }
}
