.apply-button {
  max-width: 1100px;
  margin: 2rem auto;
}

.btn {
  display: flex;
  overflow: visible;
  background-color: transparent;
  border: none;
  width: max-content;
  position: relative;
  padding: 1rem 2rem;
}

.btn-text {
  display: flex;
  align-items: center;
  transition: color 1s;
  font-size: larger;
  color: black;
}

.btn::before {
  border-radius: 100px;
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: "";
  width: 30%;
  height: 100%;
  background: rgba(192, 161, 71, 0.3);
  /* background: #0f2d25; */
  position: absolute;
  top: 0;
  left: 0;
}

.btn:hover::before {
  width: 100%;
  background: #0f2d25;
}

.btn:hover .btn-text {
  color: white;
}

.btn span {
  z-index: 10;
}

.dialog {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 20%;
}

.title {
  font-family: "Crimson Text";
}

.text {
  font-family: "Nunito";
  font-size: large;
}

.text a {
  text-decoration: none;
  color: blue;
}
