.formInput {
  width: 50%;
}
.newRequirement {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid #b8b4b4;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;
}
.addBtn {
  margin-bottom: 1rem !important;
  background-image: var(--primaryGradientColor) !important;
  width: fit-content;
}
.btnDiv > button {
  margin: 0 1rem 1rem 0;
}
.cencelDiv {
  color: #0f2d25 !important;
  border-color: #0f2d25 !important;
}
.cencelDiv:hover {
  border-color: #0f2d25 !important;
}
