.scholarship {
  margin: 3rem 0;
}

.scholarship > h1,
.scholarship > p {
  text-align: center;
}

.scholarship-cards {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  margin-top: 3rem;
  column-gap: 20px;
  row-gap: 20px;
}

.scholarship-card {
  width: 90%;
  /* box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 0 1.5rem;
}

.scholarship-card h1 {
  width: 70%;
  font-family: "Crimson Text";
  margin: 1rem;
  /* margin-right: 1rem; */
}

.scholarship-card p {
  font-family: "Nunito";
  color: #5f5f5f;
}

.scholarship-card > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info {
  /* width: 20%; */
  position: relative;
  /* width: 200px; */
  width: 150px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.5rem;
  background-color: #103028;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  text-align: center;
}

.info hr {
  width: 2px;
  margin: 0;
  height: 80%;
}

.info img {
  position: absolute;
  z-index: 0;
  width: 100%;
  opacity: 0.2;
  /* height: 100%; */
}

.info > div {
  position: relative;
  z-index: 1;
}

.date p {
  color: white;
  text-align: center;
  font-family: "Nunito";
  margin: 0;
}

.status {
  /* font-size: 20px; */
  font-size: 18px;
  color: white !important;
  font-family: "Nunito";
  margin: 0;
}

.status span {
  display: block;
  /* font-size: 16px; */
  font-size: 14px;
  text-transform: capitalize;
}

.active {
  /* color: #1565c0; */
  color: #00ffc8;
}

.closed {
  color: red;
}

.view {
  margin-bottom: 1rem;
  padding: 0.1rem !important;
  justify-content: center !important;
  column-gap: 10%;
  /* text-align: center; */
}

.view > a {
  cursor: pointer;
  text-decoration: none;
}

.view span {
  color: #c0a147;
  border-bottom: 1px solid transparent;
  transition: all 0.5s;
}

.view span:hover {
  color: #0f2d25;
  border-bottom: 1px solid #0f2d25;
}

@media screen and (max-width: 768px) {
  .heading {
    flex-direction: column-reverse;
  }

  .heading h1 {
    width: 100%;
  }
}
