.section {
  background-color: white;
  box-shadow: 0 0 5px #d4d4d4;
  padding: 2.5rem 1.5rem 2rem 1.5rem;
  border-radius: 5px;
}
.headingDiv > h2 {
  font-size: 16px;
}
.inputContainer {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5%;
  row-gap: 25px;
}
.formInput {
  flex: 0 0 31.5%;
}
.fullWidth {
  flex: 0 0 100%;
}
.btnDiv > button {
  margin: 0 1rem 1rem 0;
}
@media screen and (max-width: 900px) {
  .formInput {
    flex: 0 0 48.5%;
  }
}
@media screen and (max-width: 650px) {
  .formInput {
    flex: 0 0 100%;
  }
}
