.details {
  max-width: 1100px;
  margin: 3rem auto;
}

.images img {
  max-width: 100%;
  margin: 1rem 0;
}

.details h1 {
  font-size: 40px;
  margin: 1rem 0;
  text-transform: capitalize;
}

.details h3 {
  font-size: xx-large;
}

.details h1,
.details h3 {
  font-family: "Crimson Text";
}

.details p,
.details li {
  /* color: #efeaea; */
  color: rgba(0, 0, 0, 0.87);
  font-family: "Nunito";
}

.details pre {
  margin-left: 2rem;
  font-family: "Nunito";
}

.minimum-reqs {
  margin-left: 2rem;
}

.minimum-reqs > a {
  margin-left: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: #5f5f5f;
  font-family: "Nunito";
  border-bottom: 1px solid transparent;
  color: #c0a147;
}

/* .minimum-reqs ul {
  list-style-type: "\1F44D";
} */

.text {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.preText {
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media screen and (max-width: 1200px) {
  .details {
    margin: 3rem 2rem;
  }
}
@media screen and (max-width: 700px) {
  .details h1 {
    font-size: 30px;
  }
  .details h3 {
    font-size: 20px;
  }
}
