.section {
  margin-bottom: 2rem;
  background-color: white;
  box-shadow: 0 0 5px #d4d4d4;
  padding-top: 1rem;
  border-radius: 5px;
}
.headingDiv {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 1.5rem 0 1.5rem;
}
.headingDiv > h2 {
  font-size: 16px;
}
.editBtn {
  background: none;
  border: none;
  cursor: pointer;
}
.editBtn > svg {
  font-size: 20px;
}
.headingDiv + hr {
  margin: 0px 25px;
}
.mainDiv {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
}
.infoDiv {
  flex: 0 0 33.33%;
  margin-bottom: 2rem;
}
.infoDiv > h5 {
  margin: 0;
}
.infoDiv > p {
  margin: 0;
  font-size: 14px;
}
.addressField {
  flex: 0 0 100%;
}
