@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Nunito&display=swap");

/* FAQ Component Styling */
.row-title {
  font-family: "Crimson Text";
  font-size: larger !important;
  font-weight: bold;
}

.row-content {
  font-family: "Nunito";
}
